
/////
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
  html,
  body {
    height: 100%;
    font-size: rem(16px);
    @include tab() {
        font-size: rem(14px);
    }
    @include phone() {
        font-size: rem(12px);
    }
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    // max-width: rem(1100px);
  min-height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  @each $var in bg, bg_two,bg_team,bg_menu,bg_form,bg_map {
    .#{$var} {
    background: url('../img/#{$var}.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    width: 100vw;
    height: 100vh;
    min-height: rem(650px);

    }
    .big_block {
        margin: 0;
        padding: 0;
    }
    @include tab() {
        .buy_bur {
            display: flex;
            justify-content: space-between;
            width: 100%;
            max-width: rem(170px);
            align-items: center;
          }
    }
    
    .buy {
        font-family: "open";
        font-weight: 200;
        font-style: normal;
          background: #c1401e;
          width: rem(100px);
          height: rem(35px);
          border-radius: rem(5px);
          display: flex;
          justify-content: center;
          align-items: center;
          text-transform: uppercase;
          font-size: rem(12px);
          transition: 0.4s;
          cursor: pointer;
      }
  .content {
    flex: 0 0 auto;  
    width: 100vw;
    height: 100vh;
    position: relative;
}
}
.bg .test {
    background: url("../img/texture.png");
    width: 100%;
    height: 100%;
    position: absolute;
}

  .footer {
    flex: 0 0 auto;
  }
  .conteiner {
    max-width: rem(1100px);
    margin: 0 auto;
    width: 95%;
      
  }
  .first_block {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
  }
  .header_block {
      display: flex;
      max-width: rem(1100px);
      width: 95%;
      margin: 0 auto;
      justify-content: space-between;
      align-items: center;
      position: relative;
      .menu {
          width: 65%;
          font-family: "open";
          font-weight: 200;
          font-style: normal;
          @include tab() {
            display: none;
      }
      @include phone() {
        display: none;
  }
      }
      ul {
          display: flex;
          justify-content: space-between;
          align-items: center;
          text-transform: uppercase;
          font-size: rem(12px);
          list-style: disc;
          color: #fff;
      }
      li:nth-child(1) {
          list-style: none;
      }
      a {
          text-decoration: none;
          color: #fff;
      }
      .logo img{
          padding: rem(10px);
      }
      
      .buy:hover {
          background: #e45028
      }
  }
  
  .start_page {
      display: flex;
      justify-content: center;
      align-items: center;
      @include tab() {
          flex-direction: column;
          align-items: center;
      }

      .start_text {
        display: flex;
        width: 50%;
        flex-direction: column;
        justify-content: center;
        @include tab() {
            margin-top: rem(20px);
            width: 100%;
            align-items: center;
        
      }
      }
      
      @mixin text($size, $color,$fontw, $fonts) {
          text-align: left;
          color: #fff;
          font-size: $size;
          color: $color;
          font-family: "open";
          font-weight: $fontw;
          font-style: $fonts;
      } 

      .start_text .text_one{      
          @include text(rem(80px), #f9b43b, bold, normal);
          @include tab() {
              font-size: rem(60px);
        }
        @include phone() {
            font-size: rem(40px);
      }
      }
      .start_text  .text_two{      
        @include text(rem(55px), #fff, 100, normal);
        @include tab() {
            font-size: rem(40px);
            flex-wrap: wrap;
            width: 50%;
            text-align: center;
      }
      @include phone() {
        font-size: rem(30px);
        flex-wrap: wrap;
        width: 50%;
        text-align: center;
  }
    }
    .start_burger{
        position: relative;
        width: 50%;
        padding: 0 rem(15px);
        img {
            width: 100%;
            height: 100%;
        }
    }
    
  }
  .scroll {
      display: flex;
      justify-content: center;
      margin-top: rem(90px);
      position: relative;
  }
  .navigation {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      position: fixed;
      width: rem(30px);
      height: rem(250px);
      top: rem(90px);
      right: rem(50px);
      z-index: 999;
      list-style: none;
      @include tab() {
          display: none;
    }
    @include phone() {
        display: none;
  }

      .nav_touch {
        width: rem(18px);
        height: rem(18px);
        border: rem(1px) solid rgba(0, 0, 0, 0);
        border-radius: 50%;
        margin-left: rem(6px);
        position: relative;
      }
      .activ_nav {
          width: rem(18px);
          height: rem(18px);
          border: rem(1px) solid #fff;
          border-radius: 50%;
          margin-left: rem(6px);
      }
     
      .nav_link::before {
        content: "";
        background: #fff;
        border-radius: 50%;
        width: rem(6px);
        height: rem(6px);
        display: block;
        top: 32%;
        left: 32%;
        position: absolute;
      }
  }
  //Two scrin


.title {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #2f3234;
    font-family: "open";
    font-weight: bold;
    font-style: normal;
    font-size: rem(50px);
    @include tab() {
        font-size: rem(30px);
    }
    @include phone() {
        font-size: rem(24px);
    }
}
.conteiner_blocks {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include phone() {
        flex-direction: column;
    }
    .conteiner_img {
        width: rem(75px);
        height: rem(75px);
        display: inline-block;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .conteiner_in {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 33.33%;
        padding: rem(10px);
        @include phone() {
        justify-content: flex-start;
        flex-direction: row;
        width: 100%;
        }
    }
    .conteiner_present {
        @include phone() {
            flex-direction: column;
            margin-left: rem(10px);
        }
    }
    .title_present {
        font-family: "open";
        font-weight: 100;
        font-style: normal;
        color: #2f3234;
        margin-top: rem(20px);
        text-align: center;
        @include tab() {
            font-size: rem(18px);
        }
        @include phone() {
            font-size: rem(16px);
            text-align: left;
        }
    }
    .text {
        font-family: "open";
        font-weight: 300;
        font-style: normal;
        color: #2f3234;
        margin-top: rem(20px);
        text-align: center;
        line-height: rem(30px);
        letter-spacing: rem(1px);
        @include phone() {
            width: rem(350px);
            text-align: left;
        }
}
}
//bg_three
.bg_three {
    flex: 1 0 auto;
    width: 100%;
    height: 100%;

.rewievs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    @include tab() {
        height: 100%;    
    }

    .block_rewievs {
        width: 25vw;
        height: 50vh;
        position: relative;
        @include tab() {
            width: 50vw;

        }
        @include phone() {
         height: 30vw;
        }
    }
    .block_rewievs .rewievs_text {
          position: absolute;
          top: rem(25px);
          left: rem(25px);
          color: #fff;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          opacity: 0;
          .title_rew {
              font-size: rem(20px);
              font-family: "open";
    font-weight: bold;
    font-style: normal;
    margin-bottom: rem(25px);
          }
          .text {
            margin-bottom: rem(25px);
            width: 70%;
            font-family: "open";
          font-weight: 300;
          font-style: normal;
          @include phone() {
         display: none;
        }
          }
      }
      .rewievs_link {
          color: #fff;
          text-decoration: none;
          background: #1f2122;
          padding: rem(10px) rem(18px);
          text-transform: uppercase;
          border-radius: rem(5px);
          font-family: "open";
          font-weight: 200;
          font-style: normal;
          transition: 0.4s;
      }
      .rewievs_link:hover {
          background: #2f3234;
      }
      @each $num in one, two, three, four, five, six, seven, eigth {
          .#{$num} {
              background-image:  url("../img/#{$num}.png");
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
              width: 100%;
              height: 100%;
              filter: grayscale(100%); 
          }
      }
      @each $num in one, two, three, four, five, six, seven, eigth {
        .#{$num}_color {
            background-color: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 100%;
        }
    }

    .block_rewievs:hover {
        @each $num in one, two, three, four, five, six, seven, eigth {
            .#{$num}_color {
                background-color: rgba(0, 0, 0, 0.7);
                width: 100%;
                height: 100%;
                transition: 0.4s;
            }
            .rewievs_text {
                opacity: 1;
                transition: .5s;
            }
    }
}
}

    
}
//bg_four team bg_team
.team {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 50%;
    background: rgba(#313436, 0.9);
    top: 0;
    right: 0;
    height: 100%;
    @include tab() {
        width: 100%;
    }
    .accordion {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        padding: rem(100px);
        @include tab() {
            padding: rem(60px) rem(0px);
        }
    }
    .accordion_in {
        display: flex;
        width: 100%;
        height: 100%;
        @include tab() {
            justify-content: center;
        }
    }
    .title {
        color: #f9b43b;
        font-size: rem(70px);
        justify-content: flex-start;
        @include tab() {
            justify-content: center;
            font-size: rem(50px);
        }
    }
    .accordion_list {
        display: flex;
        flex-direction: column;
        list-style: none;
        position: absolute;
        

    }
    .accordion_scroll {
        display: flex;
    }
    .scrolls_ico {
        @include tab() {
           position: relative;
        }
    }

    .scrolls_ico::before {
        content: "";
        background: url("../img/ico/down.png");
        background-repeat: no-repeat;
        position: absolute;
        width: rem(15px);
        height: rem(15px);
        top: rem(5px);
        left: rem(-15px);
    }
    .accordion_item {
        display: flex;
        flex-direction: column;
        margin-top: rem(40px);
        width: 100%;
        position: relative;
        &:hover .accordion_link{
            color: #f9b43b;
        }
        @include tab() {
            align-items: center;
        }
        &:hover  .accordion_info{
            max-height:  rem(110px);
            @include tab() {
                max-height: rem(200px);
            }
        }
        
    }
    .accordion_item:hover  .scrolls_ico::before {
        background: url("../img/ico/up.png");
        background-repeat: no-repeat;
        position: absolute;
        width: rem(15px);
        height: rem(15px);
        top: rem(5px);
        left: rem(-15px);
    }
    .active .accordion_info{
        max-height: rem(110px);
        @include tab() {
            max-height: rem(200px);
        }
    }
    .active .scrolls_ico::before {
        background: url("../img/ico/up.png");
        background-repeat: no-repeat;
        position: absolute;
        width: rem(15px);
        height: rem(15px);
        top: rem(5px);
        left: rem(-15px);
       
    }
    .active .accordion_link {
        color: #f9b43b;
    }
    .accordion_link {
        font-family: "open";
        font-weight: bold;
        font-size: rem(14px);
        font-style: normal;
        color: #fff;
        text-decoration: none;
    }
    

    .accordion_info {
        display: flex;
        justify-content: space-between;
        margin-top: rem(10px);
        max-height: 0;
        overflow: hidden;
        transition: 0.4s;
        @include tab() {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
        }
        .accord_img {
            overflow: hidden;
            border-radius: 50%;
            width: rem(100px);
            height: rem(100px);
            flex: 1 0 auto;
            img {
                width: 100%;
                height: 100%;
            }

        }   
             .text {
            width: 100%;
            margin-left: rem(10px);
            display: flex;
            flex-direction: column;
            padding: rem(5px);
            font-family: "open";
            font-weight: 300;
            color: #fff;
            @include tab() {
                text-align: center;
            }

            h4 {
                font-weight: 200;
                margin-bottom: rem(15px);
            }
        }
    }
}

// bg_menu Меню аккордион 

.ac_menu {
    display: flex;
    position: relative;
    height: 100%;
    .title {
        color: #fff;
        font-size: rem(72px);
        position: absolute;
        top: 10%;
        left: 10%;
    }

.accord {
    display: flex;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(#313436, 0.9);
}
.accord_list {
    display: flex;
    height: 100%;
}
.accord_item {
    display: flex;
    width: 100%;
    height: 100%;
    cursor: pointer;
    
    &:hover .accord_text{
        max-width: rem(700px);  
        @include tab(){
            max-width: rem(400px);
        } 
        @include phone(){
            max-width: rem(300px);
        } 
    }
    &:hover .accord_link span{
        color: #f9b43b;
    }
    
    .dark {
        background-color: rgba(0, 0, 0, 0.7);
        height: 100%;
        width: 100%;
    }
}
.active {
    .accord_text{
        max-width: rem(700px);
        @include tab(){
            max-width: rem(400px);
        } 
        @include tab(){
            max-width: 0;
        } 
    }
    .accord_link span{
        color: #f9b43b;
    }
}
.accord_link {
    height: 100%;
    width: rem(80px);
    color: #fff;
    text-decoration: none;
    display: block;
    position: relative;
    flex: 1 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include tab() {
        width: rem(50px);   
    }
    @include phone() {
        width: rem(40px);   
    }
    
span {
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: rem(-20px);
    transform: rotate(-90deg) translateY(-50%);
    color: #fff;
    font-family: 'open';
    font-weight: bold;
    font-size: rem(40px);
    white-space: nowrap;
    transform-origin: 0 0;
    @include tab() {
        font-size: rem(20px)   
    }
    @include phone() {
        font-size: rem(16px)   
    }
    

    }
    
}
.accord_text {
    max-width: 0;
    transition: 0.4s;
    font-family: 'open';
    font-weight: 400;
    line-height: rem(30px);
    overflow: hidden;
    color: #fff;
    span {

    display: inline-block;
    padding: rem(35px);
    width: rem(600px);
    @include tab(){
        max-width: rem(400px);
    } 
    @include phone(){
        max-width: rem(300px);
        font-size: rem(12px);
    } 
    }
}
}
//bg_form Форма 
.block_form {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: "open";
    font-weight: 300;
    .title {
        margin-top: rem(100px);
        color: #f9b43b;
        font-size: rem(71px);
        @include tab() {
            font-size: rem(50px);
            margin-top: rem(50px);
      }
      @include phone() {
        font-size: rem(30px);
        margin-top: rem(25px);
  }
    }
    .form {
        display: flex;
        width: 100%;
        margin-top: rem(50px);
        @include tab() {
            flex-direction: column;
      }
    }
    .block_one {
        flex: 1;
    padding: 0 rem(10px);
        flex: 1;
    }
    .form_block {
        display: flex;
        // justify-content: space-between;
        &_phone {
            @include phone() {
                justify-content: center;
          }
        }
    }
   
    .input_form {
        width: 100%;
    border-width: rem(1px);
    border-color: #d1cfcb;
    border-style: solid;
    border-radius: rem(5px);
    background-color: #fff;
    padding: rem(10px);
    font-size: rem(14px);
    outline: none;
    transition: 0.4s;
    &:hover {
        border: rem(1px) #f9b43b solid;
    }
    }
    .mini_block {
        flex: 1;
    padding: 0 rem(10px);
}
.block_text{
    padding: rem(10px) 0;
    color: #fff;
    font-family: "open";
    font-weight: 300;
}
.textarea {
    width: 100%;
    height: rem(110px);
    border-width: rem(1px);
    border-color: #d1cfcb;
    border-style: solid;
    border-radius: rem(5px);
    background-color: #fff;
    padding: rem(10px);
    font-size: rem(14px);
    resize: none;
    outline: none;
    transition: 0.4s;
    &:hover {
        border: rem(2px) #f9b43b solid;
    }
}
.label {
    display: flex;
    padding: rem(10px);
    position: relative;
    font-family: "open";
    font-weight: 300;
    
}
.input_radio {
    position: absolute;
    opacity: 0;
}
.radio_content {
    display: flex;
}

.radio__btn {
    width: rem(16px);
    height: rem(16px);
    background: #fff;
    border-radius: 50%;
    position: relative;

    &::after {
        content: "";
        width: rem(8px);
        height: rem(8px);
        border-radius: 50%;
        background: #c1401e;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        opacity: 0;
        transition: 0.3s;
    }
 
}
.radio__text {
    padding: 0 rem(10px);
    color: #fff;
}
.mini_checkbox {
    display: flex;
    position: relative;
    font-family: "open";
    font-weight: 300;
}
.checkbox__input {
    position: absolute;
    opacity: 0;
    width: rem(16px);
    height: rem(16px);
}
.checkbox__content {
    display: flex;
    padding: rem(10px);

}
.checkbox__text {
    color: #fff;
    padding: 0 rem(10px);
}
.checkbox__btn {
    width: rem(16px);
    height: rem(16px);
    background: #fff;
    position: relative;
    

img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}
}
.buy_block {
    display: flex;
    align-items: center;
    padding: rem(10px);
}
.buy_in {
    color: #fff;
    text-decoration: none;
    background: #c1401e;
    border: none;
    text-transform: uppercase;
    font-family: "open";
    font-weight: 200;
          width: rem(100px);
          height: rem(35px);
          border-radius: rem(5px);
          font-size: rem(12px);
          transition: 0.4s;
          cursor: pointer;
          &:hover {
            background: #e45028;
          }
}
.del {
    padding: 0 rem(10px);
    font-family: "open";
    font-weight: 300;
    .del_in {
        color: #fff;
        text-decoration: none;
        background: none;
        border: none;
        cursor: pointer;
    }
}
}
.checkbox__input:checked + .checkbox__content .checkbox__btn img {
    opacity: 1;    
}
.input_radio:checked + .radio_content  .radio__btn:after {
    opacity: 1;    
}

.footer {
    display: flex;
    width: 100%;
    background: url("../img/foot.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: rem(70px);
    position: absolute;
    bottom: 0;
    left: 0;
    @include phone() {
        height: rem(100px);
  }
    .footer_in {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: rem(1100px);
        margin: 0 auto;
        width: 95%;
        @include phone() {
            flex-direction: column;
            justify-content: space-around;
      }
    }
    .phone-ico {
        width: rem(14px);
        height: rem(14px);
        fill: #e45028;
    }
    .left_block {
        display: flex;
        flex-direction: column;
        color: #fff;
        font-family: "open";
        font-weight: 300;
        @include phone() {
            text-align: center;
      }
    }
    .left_num {
        margin-top: rem(10px);
        color: #e45028;
    }
    .soc-ico {
        width: rem(20px);
        height: rem(20px);
        fill: #585858;
        margin-right: rem(20px);
        transition: 0.4s;
        &:hover {
            fill: #fff;
        }
    }
    .phone_link, .soc_link {
        text-decoration: none;
    }
    .phone_link {
        color: #e45028;
    }

    
}
