* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  font-size: 1rem; }
  @media screen and (max-width: 768px) {
    html,
    body {
      font-size: 0.875rem; } }
  @media screen and (max-width: 480px) {
    html,
    body {
      font-size: 0.75rem; } }

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative; }

.bg {
  background: url("../img/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: 40.625rem; }

.big_block {
  margin: 0;
  padding: 0; }

@media screen and (max-width: 768px) {
  .buy_bur {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 10.625rem;
    align-items: center; } }
.buy {
  font-family: "open";
  font-weight: 200;
  font-style: normal;
  background: #c1401e;
  width: 6.25rem;
  height: 2.1875rem;
  border-radius: 0.3125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.75rem;
  transition: 0.4s;
  cursor: pointer; }

.content {
  flex: 0 0 auto;
  width: 100vw;
  height: 100vh;
  position: relative; }

.bg_two {
  background: url("../img/bg_two.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: 40.625rem; }

.big_block {
  margin: 0;
  padding: 0; }

@media screen and (max-width: 768px) {
  .buy_bur {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 10.625rem;
    align-items: center; } }
.buy {
  font-family: "open";
  font-weight: 200;
  font-style: normal;
  background: #c1401e;
  width: 6.25rem;
  height: 2.1875rem;
  border-radius: 0.3125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.75rem;
  transition: 0.4s;
  cursor: pointer; }

.content {
  flex: 0 0 auto;
  width: 100vw;
  height: 100vh;
  position: relative; }

.bg_team {
  background: url("../img/bg_team.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: 40.625rem; }

.big_block {
  margin: 0;
  padding: 0; }

@media screen and (max-width: 768px) {
  .buy_bur {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 10.625rem;
    align-items: center; } }
.buy {
  font-family: "open";
  font-weight: 200;
  font-style: normal;
  background: #c1401e;
  width: 6.25rem;
  height: 2.1875rem;
  border-radius: 0.3125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.75rem;
  transition: 0.4s;
  cursor: pointer; }

.content {
  flex: 0 0 auto;
  width: 100vw;
  height: 100vh;
  position: relative; }

.bg_menu {
  background: url("../img/bg_menu.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: 40.625rem; }

.big_block {
  margin: 0;
  padding: 0; }

@media screen and (max-width: 768px) {
  .buy_bur {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 10.625rem;
    align-items: center; } }
.buy {
  font-family: "open";
  font-weight: 200;
  font-style: normal;
  background: #c1401e;
  width: 6.25rem;
  height: 2.1875rem;
  border-radius: 0.3125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.75rem;
  transition: 0.4s;
  cursor: pointer; }

.content {
  flex: 0 0 auto;
  width: 100vw;
  height: 100vh;
  position: relative; }

.bg_form {
  background: url("../img/bg_form.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: 40.625rem; }

.big_block {
  margin: 0;
  padding: 0; }

@media screen and (max-width: 768px) {
  .buy_bur {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 10.625rem;
    align-items: center; } }
.buy {
  font-family: "open";
  font-weight: 200;
  font-style: normal;
  background: #c1401e;
  width: 6.25rem;
  height: 2.1875rem;
  border-radius: 0.3125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.75rem;
  transition: 0.4s;
  cursor: pointer; }

.content {
  flex: 0 0 auto;
  width: 100vw;
  height: 100vh;
  position: relative; }

.bg_map {
  background: url("../img/bg_map.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: 40.625rem; }

.big_block {
  margin: 0;
  padding: 0; }

@media screen and (max-width: 768px) {
  .buy_bur {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 10.625rem;
    align-items: center; } }
.buy {
  font-family: "open";
  font-weight: 200;
  font-style: normal;
  background: #c1401e;
  width: 6.25rem;
  height: 2.1875rem;
  border-radius: 0.3125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.75rem;
  transition: 0.4s;
  cursor: pointer; }

.content {
  flex: 0 0 auto;
  width: 100vw;
  height: 100vh;
  position: relative; }

.bg .test {
  background: url("../img/texture.png");
  width: 100%;
  height: 100%;
  position: absolute; }

.footer {
  flex: 0 0 auto; }

.conteiner {
  max-width: 68.75rem;
  margin: 0 auto;
  width: 95%; }

.first_block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; }

.header_block {
  display: flex;
  max-width: 68.75rem;
  width: 95%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  position: relative; }
  .header_block .menu {
    width: 65%;
    font-family: "open";
    font-weight: 200;
    font-style: normal; }
    @media screen and (max-width: 768px) {
      .header_block .menu {
        display: none; } }
    @media screen and (max-width: 480px) {
      .header_block .menu {
        display: none; } }
  .header_block ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.75rem;
    list-style: disc;
    color: #fff; }
  .header_block li:nth-child(1) {
    list-style: none; }
  .header_block a {
    text-decoration: none;
    color: #fff; }
  .header_block .logo img {
    padding: 0.625rem; }
  .header_block .buy:hover {
    background: #e45028; }

.start_page {
  display: flex;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .start_page {
      flex-direction: column;
      align-items: center; } }
  .start_page .start_text {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center; }
    @media screen and (max-width: 768px) {
      .start_page .start_text {
        margin-top: 1.25rem;
        width: 100%;
        align-items: center; } }
  .start_page .start_text .text_one {
    text-align: left;
    color: #fff;
    font-size: 5rem;
    color: #f9b43b;
    font-family: "open";
    font-weight: bold;
    font-style: normal; }
    @media screen and (max-width: 768px) {
      .start_page .start_text .text_one {
        font-size: 3.75rem; } }
    @media screen and (max-width: 480px) {
      .start_page .start_text .text_one {
        font-size: 2.5rem; } }
  .start_page .start_text .text_two {
    text-align: left;
    color: #fff;
    font-size: 3.4375rem;
    color: #fff;
    font-family: "open";
    font-weight: 100;
    font-style: normal; }
    @media screen and (max-width: 768px) {
      .start_page .start_text .text_two {
        font-size: 2.5rem;
        flex-wrap: wrap;
        width: 50%;
        text-align: center; } }
    @media screen and (max-width: 480px) {
      .start_page .start_text .text_two {
        font-size: 1.875rem;
        flex-wrap: wrap;
        width: 50%;
        text-align: center; } }
  .start_page .start_burger {
    position: relative;
    width: 50%;
    padding: 0 0.9375rem; }
    .start_page .start_burger img {
      width: 100%;
      height: 100%; }

.scroll {
  display: flex;
  justify-content: center;
  margin-top: 5.625rem;
  position: relative; }

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 1.875rem;
  height: 15.625rem;
  top: 5.625rem;
  right: 3.125rem;
  z-index: 999;
  list-style: none; }
  @media screen and (max-width: 768px) {
    .navigation {
      display: none; } }
  @media screen and (max-width: 480px) {
    .navigation {
      display: none; } }
  .navigation .nav_touch {
    width: 1.125rem;
    height: 1.125rem;
    border: 0.0625rem solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    margin-left: 0.375rem;
    position: relative; }
  .navigation .activ_nav {
    width: 1.125rem;
    height: 1.125rem;
    border: 0.0625rem solid #fff;
    border-radius: 50%;
    margin-left: 0.375rem; }
  .navigation .nav_link::before {
    content: "";
    background: #fff;
    border-radius: 50%;
    width: 0.375rem;
    height: 0.375rem;
    display: block;
    top: 32%;
    left: 32%;
    position: absolute; }

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2f3234;
  font-family: "open";
  font-weight: bold;
  font-style: normal;
  font-size: 3.125rem; }
  @media screen and (max-width: 768px) {
    .title {
      font-size: 1.875rem; } }
  @media screen and (max-width: 480px) {
    .title {
      font-size: 1.5rem; } }

.conteiner_blocks {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }
  @media screen and (max-width: 480px) {
    .conteiner_blocks {
      flex-direction: column; } }
  .conteiner_blocks .conteiner_img {
    width: 4.6875rem;
    height: 4.6875rem;
    display: inline-block; }
    .conteiner_blocks .conteiner_img img {
      width: 100%;
      height: 100%; }
  .conteiner_blocks .conteiner_in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    padding: 0.625rem; }
    @media screen and (max-width: 480px) {
      .conteiner_blocks .conteiner_in {
        justify-content: flex-start;
        flex-direction: row;
        width: 100%; } }
  @media screen and (max-width: 480px) {
    .conteiner_blocks .conteiner_present {
      flex-direction: column;
      margin-left: 0.625rem; } }
  .conteiner_blocks .title_present {
    font-family: "open";
    font-weight: 100;
    font-style: normal;
    color: #2f3234;
    margin-top: 1.25rem;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .conteiner_blocks .title_present {
        font-size: 1.125rem; } }
    @media screen and (max-width: 480px) {
      .conteiner_blocks .title_present {
        font-size: 1rem;
        text-align: left; } }
  .conteiner_blocks .text {
    font-family: "open";
    font-weight: 300;
    font-style: normal;
    color: #2f3234;
    margin-top: 1.25rem;
    text-align: center;
    line-height: 1.875rem;
    letter-spacing: 0.0625rem; }
    @media screen and (max-width: 480px) {
      .conteiner_blocks .text {
        width: 21.875rem;
        text-align: left; } }

.bg_three {
  flex: 1 0 auto;
  width: 100%;
  height: 100%; }
  .bg_three .rewievs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh; }
    @media screen and (max-width: 768px) {
      .bg_three .rewievs {
        height: 100%; } }
    .bg_three .rewievs .block_rewievs {
      width: 25vw;
      height: 50vh;
      position: relative; }
      @media screen and (max-width: 768px) {
        .bg_three .rewievs .block_rewievs {
          width: 50vw; } }
      @media screen and (max-width: 480px) {
        .bg_three .rewievs .block_rewievs {
          height: 30vw; } }
    .bg_three .rewievs .block_rewievs .rewievs_text {
      position: absolute;
      top: 1.5625rem;
      left: 1.5625rem;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      opacity: 0; }
      .bg_three .rewievs .block_rewievs .rewievs_text .title_rew {
        font-size: 1.25rem;
        font-family: "open";
        font-weight: bold;
        font-style: normal;
        margin-bottom: 1.5625rem; }
      .bg_three .rewievs .block_rewievs .rewievs_text .text {
        margin-bottom: 1.5625rem;
        width: 70%;
        font-family: "open";
        font-weight: 300;
        font-style: normal; }
        @media screen and (max-width: 480px) {
          .bg_three .rewievs .block_rewievs .rewievs_text .text {
            display: none; } }
    .bg_three .rewievs .rewievs_link {
      color: #fff;
      text-decoration: none;
      background: #1f2122;
      padding: 0.625rem 1.125rem;
      text-transform: uppercase;
      border-radius: 0.3125rem;
      font-family: "open";
      font-weight: 200;
      font-style: normal;
      transition: 0.4s; }
    .bg_three .rewievs .rewievs_link:hover {
      background: #2f3234; }
    .bg_three .rewievs .one {
      background-image: url("../img/one.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      filter: grayscale(100%); }
    .bg_three .rewievs .two {
      background-image: url("../img/two.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      filter: grayscale(100%); }
    .bg_three .rewievs .three {
      background-image: url("../img/three.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      filter: grayscale(100%); }
    .bg_three .rewievs .four {
      background-image: url("../img/four.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      filter: grayscale(100%); }
    .bg_three .rewievs .five {
      background-image: url("../img/five.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      filter: grayscale(100%); }
    .bg_three .rewievs .six {
      background-image: url("../img/six.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      filter: grayscale(100%); }
    .bg_three .rewievs .seven {
      background-image: url("../img/seven.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      filter: grayscale(100%); }
    .bg_three .rewievs .eigth {
      background-image: url("../img/eigth.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      filter: grayscale(100%); }
    .bg_three .rewievs .one_color {
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%; }
    .bg_three .rewievs .two_color {
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%; }
    .bg_three .rewievs .three_color {
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%; }
    .bg_three .rewievs .four_color {
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%; }
    .bg_three .rewievs .five_color {
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%; }
    .bg_three .rewievs .six_color {
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%; }
    .bg_three .rewievs .seven_color {
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%; }
    .bg_three .rewievs .eigth_color {
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%; }
    .bg_three .rewievs .block_rewievs:hover .one_color {
      background-color: rgba(0, 0, 0, 0.7);
      width: 100%;
      height: 100%;
      transition: 0.4s; }
    .bg_three .rewievs .block_rewievs:hover .rewievs_text {
      opacity: 1;
      transition: .5s; }
    .bg_three .rewievs .block_rewievs:hover .two_color {
      background-color: rgba(0, 0, 0, 0.7);
      width: 100%;
      height: 100%;
      transition: 0.4s; }
    .bg_three .rewievs .block_rewievs:hover .rewievs_text {
      opacity: 1;
      transition: .5s; }
    .bg_three .rewievs .block_rewievs:hover .three_color {
      background-color: rgba(0, 0, 0, 0.7);
      width: 100%;
      height: 100%;
      transition: 0.4s; }
    .bg_three .rewievs .block_rewievs:hover .rewievs_text {
      opacity: 1;
      transition: .5s; }
    .bg_three .rewievs .block_rewievs:hover .four_color {
      background-color: rgba(0, 0, 0, 0.7);
      width: 100%;
      height: 100%;
      transition: 0.4s; }
    .bg_three .rewievs .block_rewievs:hover .rewievs_text {
      opacity: 1;
      transition: .5s; }
    .bg_three .rewievs .block_rewievs:hover .five_color {
      background-color: rgba(0, 0, 0, 0.7);
      width: 100%;
      height: 100%;
      transition: 0.4s; }
    .bg_three .rewievs .block_rewievs:hover .rewievs_text {
      opacity: 1;
      transition: .5s; }
    .bg_three .rewievs .block_rewievs:hover .six_color {
      background-color: rgba(0, 0, 0, 0.7);
      width: 100%;
      height: 100%;
      transition: 0.4s; }
    .bg_three .rewievs .block_rewievs:hover .rewievs_text {
      opacity: 1;
      transition: .5s; }
    .bg_three .rewievs .block_rewievs:hover .seven_color {
      background-color: rgba(0, 0, 0, 0.7);
      width: 100%;
      height: 100%;
      transition: 0.4s; }
    .bg_three .rewievs .block_rewievs:hover .rewievs_text {
      opacity: 1;
      transition: .5s; }
    .bg_three .rewievs .block_rewievs:hover .eigth_color {
      background-color: rgba(0, 0, 0, 0.7);
      width: 100%;
      height: 100%;
      transition: 0.4s; }
    .bg_three .rewievs .block_rewievs:hover .rewievs_text {
      opacity: 1;
      transition: .5s; }

.team {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 50%;
  background: rgba(49, 52, 54, 0.9);
  top: 0;
  right: 0;
  height: 100%; }
  @media screen and (max-width: 768px) {
    .team {
      width: 100%; } }
  .team .accordion {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 6.25rem; }
    @media screen and (max-width: 768px) {
      .team .accordion {
        padding: 3.75rem 0rem; } }
  .team .accordion_in {
    display: flex;
    width: 100%;
    height: 100%; }
    @media screen and (max-width: 768px) {
      .team .accordion_in {
        justify-content: center; } }
  .team .title {
    color: #f9b43b;
    font-size: 4.375rem;
    justify-content: flex-start; }
    @media screen and (max-width: 768px) {
      .team .title {
        justify-content: center;
        font-size: 3.125rem; } }
  .team .accordion_list {
    display: flex;
    flex-direction: column;
    list-style: none;
    position: absolute; }
  .team .accordion_scroll {
    display: flex; }
  @media screen and (max-width: 768px) {
    .team .scrolls_ico {
      position: relative; } }
  .team .scrolls_ico::before {
    content: "";
    background: url("../img/ico/down.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 0.9375rem;
    height: 0.9375rem;
    top: 0.3125rem;
    left: -0.9375rem; }
  .team .accordion_item {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    width: 100%;
    position: relative; }
    .team .accordion_item:hover .accordion_link {
      color: #f9b43b; }
    @media screen and (max-width: 768px) {
      .team .accordion_item {
        align-items: center; } }
    .team .accordion_item:hover .accordion_info {
      max-height: 6.875rem; }
      @media screen and (max-width: 768px) {
        .team .accordion_item:hover .accordion_info {
          max-height: 12.5rem; } }
  .team .accordion_item:hover .scrolls_ico::before {
    background: url("../img/ico/up.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 0.9375rem;
    height: 0.9375rem;
    top: 0.3125rem;
    left: -0.9375rem; }
  .team .active .accordion_info {
    max-height: 6.875rem; }
    @media screen and (max-width: 768px) {
      .team .active .accordion_info {
        max-height: 12.5rem; } }
  .team .active .scrolls_ico::before {
    background: url("../img/ico/up.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 0.9375rem;
    height: 0.9375rem;
    top: 0.3125rem;
    left: -0.9375rem; }
  .team .active .accordion_link {
    color: #f9b43b; }
  .team .accordion_link {
    font-family: "open";
    font-weight: bold;
    font-size: 0.875rem;
    font-style: normal;
    color: #fff;
    text-decoration: none; }
  .team .accordion_info {
    display: flex;
    justify-content: space-between;
    margin-top: 0.625rem;
    max-height: 0;
    overflow: hidden;
    transition: 0.4s; }
    @media screen and (max-width: 768px) {
      .team .accordion_info {
        flex-direction: column;
        align-items: center;
        justify-content: center; } }
    .team .accordion_info .accord_img {
      overflow: hidden;
      border-radius: 50%;
      width: 6.25rem;
      height: 6.25rem;
      flex: 1 0 auto; }
      .team .accordion_info .accord_img img {
        width: 100%;
        height: 100%; }
    .team .accordion_info .text {
      width: 100%;
      margin-left: 0.625rem;
      display: flex;
      flex-direction: column;
      padding: 0.3125rem;
      font-family: "open";
      font-weight: 300;
      color: #fff; }
      @media screen and (max-width: 768px) {
        .team .accordion_info .text {
          text-align: center; } }
      .team .accordion_info .text h4 {
        font-weight: 200;
        margin-bottom: 0.9375rem; }

.ac_menu {
  display: flex;
  position: relative;
  height: 100%; }
  .ac_menu .title {
    color: #fff;
    font-size: 4.5rem;
    position: absolute;
    top: 10%;
    left: 10%; }
  .ac_menu .accord {
    display: flex;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(49, 52, 54, 0.9); }
  .ac_menu .accord_list {
    display: flex;
    height: 100%; }
  .ac_menu .accord_item {
    display: flex;
    width: 100%;
    height: 100%;
    cursor: pointer; }
    .ac_menu .accord_item:hover .accord_text {
      max-width: 43.75rem; }
      @media screen and (max-width: 768px) {
        .ac_menu .accord_item:hover .accord_text {
          max-width: 25rem; } }
      @media screen and (max-width: 480px) {
        .ac_menu .accord_item:hover .accord_text {
          max-width: 18.75rem; } }
    .ac_menu .accord_item:hover .accord_link span {
      color: #f9b43b; }
    .ac_menu .accord_item .dark {
      background-color: rgba(0, 0, 0, 0.7);
      height: 100%;
      width: 100%; }
  .ac_menu .active .accord_text {
    max-width: 43.75rem; }
    @media screen and (max-width: 768px) {
      .ac_menu .active .accord_text {
        max-width: 25rem; } }
    @media screen and (max-width: 768px) {
      .ac_menu .active .accord_text {
        max-width: 0; } }
  .ac_menu .active .accord_link span {
    color: #f9b43b; }
  .ac_menu .accord_link {
    height: 100%;
    width: 5rem;
    color: #fff;
    text-decoration: none;
    display: block;
    position: relative;
    flex: 1 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    @media screen and (max-width: 768px) {
      .ac_menu .accord_link {
        width: 3.125rem; } }
    @media screen and (max-width: 480px) {
      .ac_menu .accord_link {
        width: 2.5rem; } }
    .ac_menu .accord_link span {
      display: block;
      position: absolute;
      top: 100%;
      left: 50%;
      margin-top: -1.25rem;
      transform: rotate(-90deg) translateY(-50%);
      color: #fff;
      font-family: 'open';
      font-weight: bold;
      font-size: 2.5rem;
      white-space: nowrap;
      transform-origin: 0 0; }
      @media screen and (max-width: 768px) {
        .ac_menu .accord_link span {
          font-size: 1.25rem; } }
      @media screen and (max-width: 480px) {
        .ac_menu .accord_link span {
          font-size: 1rem; } }
  .ac_menu .accord_text {
    max-width: 0;
    transition: 0.4s;
    font-family: 'open';
    font-weight: 400;
    line-height: 1.875rem;
    overflow: hidden;
    color: #fff; }
    .ac_menu .accord_text span {
      display: inline-block;
      padding: 2.1875rem;
      width: 37.5rem; }
      @media screen and (max-width: 768px) {
        .ac_menu .accord_text span {
          max-width: 25rem; } }
      @media screen and (max-width: 480px) {
        .ac_menu .accord_text span {
          max-width: 18.75rem;
          font-size: 0.75rem; } }

.block_form {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "open";
  font-weight: 300; }
  .block_form .title {
    margin-top: 6.25rem;
    color: #f9b43b;
    font-size: 4.4375rem; }
    @media screen and (max-width: 768px) {
      .block_form .title {
        font-size: 3.125rem;
        margin-top: 3.125rem; } }
    @media screen and (max-width: 480px) {
      .block_form .title {
        font-size: 1.875rem;
        margin-top: 1.5625rem; } }
  .block_form .form {
    display: flex;
    width: 100%;
    margin-top: 3.125rem; }
    @media screen and (max-width: 768px) {
      .block_form .form {
        flex-direction: column; } }
  .block_form .block_one {
    flex: 1;
    padding: 0 0.625rem;
    flex: 1; }
  .block_form .form_block {
    display: flex; }
    @media screen and (max-width: 480px) {
      .block_form .form_block_phone {
        justify-content: center; } }
  .block_form .input_form {
    width: 100%;
    border-width: 0.0625rem;
    border-color: #d1cfcb;
    border-style: solid;
    border-radius: 0.3125rem;
    background-color: #fff;
    padding: 0.625rem;
    font-size: 0.875rem;
    outline: none;
    transition: 0.4s; }
    .block_form .input_form:hover {
      border: 0.0625rem #f9b43b solid; }
  .block_form .mini_block {
    flex: 1;
    padding: 0 0.625rem; }
  .block_form .block_text {
    padding: 0.625rem 0;
    color: #fff;
    font-family: "open";
    font-weight: 300; }
  .block_form .textarea {
    width: 100%;
    height: 6.875rem;
    border-width: 0.0625rem;
    border-color: #d1cfcb;
    border-style: solid;
    border-radius: 0.3125rem;
    background-color: #fff;
    padding: 0.625rem;
    font-size: 0.875rem;
    resize: none;
    outline: none;
    transition: 0.4s; }
    .block_form .textarea:hover {
      border: 0.125rem #f9b43b solid; }
  .block_form .label {
    display: flex;
    padding: 0.625rem;
    position: relative;
    font-family: "open";
    font-weight: 300; }
  .block_form .input_radio {
    position: absolute;
    opacity: 0; }
  .block_form .radio_content {
    display: flex; }
  .block_form .radio__btn {
    width: 1rem;
    height: 1rem;
    background: #fff;
    border-radius: 50%;
    position: relative; }
    .block_form .radio__btn::after {
      content: "";
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      background: #c1401e;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: 0.3s; }
  .block_form .radio__text {
    padding: 0 0.625rem;
    color: #fff; }
  .block_form .mini_checkbox {
    display: flex;
    position: relative;
    font-family: "open";
    font-weight: 300; }
  .block_form .checkbox__input {
    position: absolute;
    opacity: 0;
    width: 1rem;
    height: 1rem; }
  .block_form .checkbox__content {
    display: flex;
    padding: 0.625rem; }
  .block_form .checkbox__text {
    color: #fff;
    padding: 0 0.625rem; }
  .block_form .checkbox__btn {
    width: 1rem;
    height: 1rem;
    background: #fff;
    position: relative; }
    .block_form .checkbox__btn img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0; }
  .block_form .buy_block {
    display: flex;
    align-items: center;
    padding: 0.625rem; }
  .block_form .buy_in {
    color: #fff;
    text-decoration: none;
    background: #c1401e;
    border: none;
    text-transform: uppercase;
    font-family: "open";
    font-weight: 200;
    width: 6.25rem;
    height: 2.1875rem;
    border-radius: 0.3125rem;
    font-size: 0.75rem;
    transition: 0.4s;
    cursor: pointer; }
    .block_form .buy_in:hover {
      background: #e45028; }
  .block_form .del {
    padding: 0 0.625rem;
    font-family: "open";
    font-weight: 300; }
    .block_form .del .del_in {
      color: #fff;
      text-decoration: none;
      background: none;
      border: none;
      cursor: pointer; }

.checkbox__input:checked + .checkbox__content .checkbox__btn img {
  opacity: 1; }

.input_radio:checked + .radio_content .radio__btn:after {
  opacity: 1; }

.footer {
  display: flex;
  width: 100%;
  background: url("../img/foot.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 4.375rem;
  position: absolute;
  bottom: 0;
  left: 0; }
  @media screen and (max-width: 480px) {
    .footer {
      height: 6.25rem; } }
  .footer .footer_in {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 68.75rem;
    margin: 0 auto;
    width: 95%; }
    @media screen and (max-width: 480px) {
      .footer .footer_in {
        flex-direction: column;
        justify-content: space-around; } }
  .footer .phone-ico {
    width: 0.875rem;
    height: 0.875rem;
    fill: #e45028; }
  .footer .left_block {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-family: "open";
    font-weight: 300; }
    @media screen and (max-width: 480px) {
      .footer .left_block {
        text-align: center; } }
  .footer .left_num {
    margin-top: 0.625rem;
    color: #e45028; }
  .footer .soc-ico {
    width: 1.25rem;
    height: 1.25rem;
    fill: #585858;
    margin-right: 1.25rem;
    transition: 0.4s; }
    .footer .soc-ico:hover {
      fill: #fff; }
  .footer .phone_link, .footer .soc_link {
    text-decoration: none; }
  .footer .phone_link {
    color: #e45028; }

.burger_span {
  display: none; }
  @media screen and (max-width: 768px) {
    .burger_span {
      display: block; } }

.burger_ico {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 25px; }
  .burger_ico .bur-ico {
    background: #fff;
    width: 100%;
    height: 5px;
    border-radius: 10px; }
  .burger_ico .bur-ico-middle {
    width: 50%; }
  .burger_ico .bur-ico-bottom {
    width: 25%; }

/*# sourceMappingURL=style.css.map */
